.button {
    background-color: var(--clr-fg3);
    color: var(--clr-bg);
    border: none;
    border-radius: 7px;
    padding: 0.5rem 1rem;
    display: inline-flex;

    &:hover {
        background-color: var(--clr-fg2);
        box-shadow: var(--clr-bg2) 1.95px 1.95px 2.6px;
    }
}