$clr-dark-bg : #282828;
$clr-dark-bg1 : #3c3836;
$clr-dark-trans-bg : #28282880;
$clr-dark-fg : #ebdbb2;

$clr-dark-fg3 : #bdae93;
$clr-dark-fg2 : #d5c4a1;

$clr-light-fg3 : #665c54;
$clr-light-fg2 : #504945;

$clr-light-bg : #fbf1c7;
$clr-light-trans-bg : #fbf1c780;
$clr-light-fg : #3c3836;
