.header {
  width: 100%;
  position: fixed;
  padding-left: auto;
  padding-right: auto;
  left:0;
  right:0;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  background-color: var(--clr-trans-bg);
  color: var(--clr-fg);
  z-index: 1;
  transition: background-color 0.3s;

  .container {
      max-width: 1280px;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
  
    .logo a {
      font-family: 'M PLUS Rounded 1c';
      font-size: 30px;
      line-height: 45px;
      display: flex;
      align-items: center;
  
      span {
        margin-top: 10px;
        margin-bottom: 10px;
      }
  
      .ico {
        height: 1em;
        transition: 0.3s;
        path {
          fill: var(--clr-fg);
        }
      }
  
      &:hover {
        .ico {
          transform: rotate(20deg);
        }
      }
    }
  
    button {
      padding: 8px;
      height: 34px;
      width: 34px;
      align-items: center;
      justify-content: center;
      span{
        font-size: 1.125em;
      }
    }

    #hamburger{
      display: none;
    }

    .menu {
      align-items: center;

      span {
        cursor: pointer;
      }
  
      a {
        padding: 0.5rem 1rem;
        position: relative;
  
        &::after {
          position: absolute;
          content: '';
          height: 2px;
          bottom: -4px;
          margin: 0 auto;
          left: 0;
          right: 0;
          width: 0%;
          background-color: var(--clr-fg);
          transition: 0.3s;
        }
  
        &:hover::after {
          width: 60%;
        }
      }
    }
    }

    .langSwitch {
      display: flex;
    }
  
  }

  @media only screen and (min-width: 600px) {
    .menu {
      display: flex;
    }
    .container {
      padding: 0 2rem;
    }
    .logo a {
      span {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .ico {
        height: 1em;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .container {
      padding: 0 2px;
    }
    #hamburger {
      display: block !important;
      border: 1px solid var(--clr-fg);
      background-color: var(--clr-bg1);
      svg {
        fill: var(--clr-fg);
      }
      margin-right: 8px;
    }
    .menushow {
      height: 7.5em !important;
      border-width: 1px !important;
    }
    .logo a {
      span {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
      }
      .ico {
        height: 1em;
      }
    }

    .menu {
      box-sizing: border-box;
      display: inline-flex;
      flex-direction: column;
      height: 0;
      overflow: hidden;
      position: absolute;
      min-width: 30%;
      top: 70px;
      right: 5px;
      border: 0px solid var(--clr-fg1);
      background-color: var(--clr-bg1);
      border-radius: 5px;
      transition: all 0.3s;
      justify-content: space-around;
      a::after{
        display: none;
      }
    }
  }
